
    body{
      margin:0;
      padding:0;
      padding-top:50px;
z-index: 1000;
      
    }
    .header{
      position: fixed;
  width: 100%; 
  z-index: 1000;
    }
  
    .header ul{
      list-style-type:none;
      position:sticky;
      height:50px; 
      overflow:hidden;
      background-color:#ffd91c;
      display:flex;
      width:auto;
    }
    .header ul li{
      float:left;
      padding:10px 14px;
    }
    .header ul li a{
      display:block;
      color :black;
      text-align:center;
      
    }
    li:hover, a:hover{
      background-color:white;
    }